.navbar {
  top: 0;
  position: fixed;
  height: 6%;
  width: 100%;
  background: #F96332;
  z-index: 1;
}

.wrapper {
  margin: 1.5%;
}

ul, li{
  margin:0;
  padding:0;
}

li {
  background: #ffe6cc;
  width: 18px;
  height: 1px;
  transition: .5s linear;
  list-style: none;
}

.bot{
  margin-top: 3px;
}

.mid {
  width: 10px;
  margin-top: 3px;
}



