/* You can add global styles to this file, and also import other style files */


body {
  margin: 0;
  padding: 0;
}

.chatsContainer {
  height: 400px;
  width: 60%;
  margin: 0 auto;
  overflow: scroll;
  top: 300px;
}

.inputContainer {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  padding: 5%;
}

.eachChat {
  margin: 10%;
}

.inputChat {
  width: 80%;
}